@import "../node_modules/bootstrap/scss/bootstrap";

html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body{
    background-color: #efeff2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

*{
    box-sizing: border-box;
}

/* Searchbar */
.searchbar{
    height: 6vh;
    width: 100%;
    min-height: 40px;
    max-height: 58px;
    background-color: #1a73e8;
    display: flex;
    justify-content: center;
}

.lefthalf, .righthalf{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo{
    height: 70%;
    width: auto;
    color: white;
}

.customsearch{
    display: flex;
    height: 70%;
    width: 30vw;
    background-color: #fff;
    border-radius: 2px;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px;
}

/* .search:focus{
    border: none;
} */

.search{
    height: 100%;
    min-width: 80%;
    border: none;
    border-radius: inherit;
}

.searchbtn{
    /* height: 3.5vh; */
    margin-left: 2px;
    cursor: pointer;
    /* background-color: transparent; */
}


.loginbtn, .more-div, .cart{
    height: 60%;
    width: 5vw;
    min-width: 66.6px;
    padding: 0 5px;
    border-radius: 2px;
    border: none;
    text-align: center;
    box-shadow: none;
    font-weight: 600;
}


.loginbtn{
    color: #1a73e8;
    background-color: #fff;
}

.more, .cart{
    background-color: transparent;
    color: #fff;
}

.cart>span{
    margin-right: 5px;
}

.mydrop{
    display: none;
}

.more-div{
    display: flex;
    align-items: center;
}

.more{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 2px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.more:hover{
    background-color: white;
    color: #1a73e8;
    border-radius: 2px;
}

@media screen and (max-width: 600px) {
    .searchbar{
        justify-content: space-between;
    }
    .customsearch{
        width: 70%;
        min-width: 70%;
    }

    .righthalf{
        display: none;
    }

    .mydrop{
        height: 100%;
        display: flex;
        align-items: center;
    }

    .dropdown-btn{
        height: 60%;
        background-color: transparent;
        border: none;
    }

    #dropdownMenuButton>i{
        height: 100%;
    }

    .dropdown-menu{
        position: absolute;
        right: 0;
        top: 0;
    }

    .dropdown-item{
        text-wrap: wrap;
        color: #1a73e8;
    }
}

/* Nav bar */

.navbar{
    background-color: #fff;
    width: 100%;
    min-height: 12vh;
    display: flex;
    justify-content: center;
}

.navelm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navelm>img{
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
}

.navlabel{
    height: 18px;
    width: 70px;
    white-space: nowrap;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.space-bwt-items{
    width: 5%;
    max-width: 60px;
    min-width: 10px;
}


/* Items Grid */
.super-container{
    height: 100%; 
    width: 100%; 
    padding-top: 20px; 
    text-align: center;
}

.container1{
    height: 80%;
    width: 90%;
    max-width: 90%;
    margin: auto;
}

.deals-head, .ad{
    background-color: #fff;
}

.upper{
    height: 50%;
    width: 100%;
    max-width: 100%;
    display: flex;
}

.ad, .ad>img{
    height: 100%;
    padding: 0;
    max-width: 247px;
}

.ad>img{
    max-height: 100%;
    margin: 0;
    max-width: 247px;
}


.deals{
    height: 100%;
    min-height: 100%;
    /* width: 84.6%; */
    max-width: 84.6%;
}

.deals-head{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.deals-head-part1{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.headings{
    display: inline;
    font-size: 20px;
    font-weight: 500;
    padding-right: 20px;
}

.timing{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.timing>i{
    padding-right: 10px;
}

.timing>span{
    color: grey;
    padding-right: 10px;
}

.deals-head>button, .lower-head>button{
    height: 60%;
    max-height: 30px;
    min-height: 20px;
    min-width: 65px;
    max-width: 80px;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 2px 5px;
    font-size: 10px;
}

/* deals-content */

.deals-content{
    width: 100%;
    height: 84.4%;
    max-width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.content-item{
    width: 16%;
    min-width: 225px;
    max-width: 275;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-item>img{
    max-width: 95%;
    height: 70%;
}

.content-label{
    font-size: 14px;
    /* font-weight: 500; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.disconts{
    font-size: 14px;
    color: rgb(0,140,0);
    font-weight: 300;
}

.sptag{
    font-size: 14px;
    font-weight: 300;
    color: grey;
}

.next-item-btn{
    position: absolute;
    right: 0;
    bottom: 40%;
    height: 35%;
    max-height: 80px;
    width: 30%;
    max-width: 30px;
    text-align: center;
    color: black;
    background-color: #fff;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 5px 5px 95px 2px black;
}


/* lower part */

.lower{
    width: 100%;
    height: 50%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    /* box-shadow: 5px 5px 80px 20px black; */
}

.lower-head{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 20px;
}

.lower-head-left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.lower-head-left>span{
    color: grey;
    font-size: 14px;
    font-weight: 400;
    /* padding-top: 5px; */
}

.upper, .lower{
    border-radius: 2px;
}


@media screen and (max-width: 600px) {

    .navbar{
        min-height: fit-content;
        display: flex;
        flex-direction: row;
        overflow-wrap: normal;
    }

    .navelm{
        padding: 5px;
    }

    .container1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
    }

    .upper{
        /* flex-direction: column; */
        justify-content: center;
        width: 100%;
        height: 85%;
        overflow-y: scroll;
    }

    .ad{
        max-height: 100%;
        width: 48%;
    }

    .deals{
        width: 50%;
        height: 100%;
    }

    .headings{
        font-size: 15px;
    }

    .deals-head-part1{
        display: flex;
        flex-direction: column;
    }
    .timing>span{
        font-size: 14px;
    }

    .deals-head>button{
        display: none;
    }

    .next-item-btn{
        display: none;
    }

    .deals-content{
        height: 84.6%;
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
    }
}